name: Vite CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs: 
  build:
    runs-on: ubuntu-latest

    steps:
      - run: echo "This is a basic pipeline for Vite + React project"

      - name: checkout Code
        uses: actions/checkout@v3

      - name: setup nodejs
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      
      - name: install dependencies
        run: npm install
      
      - name: run build
        run: npm run build
      
      