name: Vite CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs: 
  build:
    runs-on: ubuntu-latest

    steps:
      - run: echo "This is a basic pipeline for Vite + React project"