name: Vite CI

on:
  push: 
    branches: [master]

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      - name: install dependencies
        run: npm ci

      - name: Lint Codebase
        run: npm run lint
      
      - name: Run Tests
        run: npm run test
  
  build:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      - name: install dependencies
        run: npm ci

      - name: Build Project
        run: npm run build
      